
.vs/

JwtAuth.API/appsettings.Development.json
JwtAuth.API/bin/
JwtAuth.API/obj/
JwtAuth.API/.vscode/

JwtAuth.API.Tests/bin/
JwtAuth.API.Tests/obj/
JwtAuth.API.Tests/.vscode/

Auth.Storage/obj/
Auth.Storage/bin/
Auth.Storage/.vscode/

Auth.Storage.Tests/bin/
Auth.Storage.Tests/obj/
Auth.Storage.Tests/.vscode/

Tooling

JwtAuth.API/.DS_Store

Auth.Storage/.DS_Store

.DS_Store

JwtAuth.API/Logs/
